<!doctype html>
<html lang="en" ng-app="sumModul">
<head>
  <meta charset="utf-8">
  <title>Homework 1</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="js/sum.controller.js"></script>
</head>
<body>

    <section ng-controller="sumCtrl">

        <input ng-model="summand1" type="number" placeholder="First number" />
        +
        <input ng-model="summand2" type="number" placeholder="Second number" />
        =
        <input type="text" readonly="true" value="{{ summarize() }}" />

    </section>

</body>
</html>
